<div style="display: flex; justify-content: flex-end;">
    <a href="/api/session/logout"><button>Salir</button></a>
</div>
<h1>Chat</h1>
<div>
    <input id="chatbox" placeholder="type a messaje"/>
    <input id="emailBox" type="email" placeholder="Type email"/>
    <button id="sendButton">Enviar</button>
    <hr>
    <div id="historial"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>