<div>
        <h1>Registro</h1>
        <form method="post" action="/api/session/register" enctype="multipart/form-data">
            <label>Nombre</label>
            <input name="first_name">
            <label>Apellido</label>
            <input name="last_name">
            <label>Email</label>
            <input name="email">
            <label>Rol</label>
            <input name="rol">
            <label>Edad</label>
            <input name="age">
            <label>Contraseña</label>
            <input type="password" name="password">

            <br/><br/>
            <label>Avatar</label>
            <input type="file" placeholder="Imagen de perfil" name="profile">
            <button type="submit">Register</button>
        </form>
        
        <p>¿Ya tienes una cuenta? <a href="/">Ingrese aquí</a></p>
</div>





